/* Ensure cropper is above images but below selected frame */
.cropper-container {
    z-index: 10 !important;
}

#frameContainer {
    position: relative;
}

#selectedFrameImage {
    z-index: 10; /* Lower z-index to ensure it is behind the uploaded image */
}

#uploadedImage {
    z-index: 0; /* Higher z-index to ensure it is above the frame */
}
